rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /artifacts/{artifact} {
      allow read: if true;
      allow write: if true;
    }
  
    match /config/{config} {
      allow read: if true;
      allow write: if true;
    }

    match /chat-notifications/{notification} {
      allow read: if true;
      allow write: if true;
    }

    match /chat-webhooks/{webhook} {
      allow read: if true;
      allow write: if true;
    }

    match /chat-webhook-urls/{webhookurl} {
      allow write: if true;
    }
  }
}